* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url("./sw-bg.jpg");
  background-size: cover;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.people-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}
